  p {
  text-align:center;
  border: 2px solid powderblue;
  border-radius:100%;
  box-sizing:border-box;
  height: 300px;
  width: 300px;
 padding: 125px 0px 0px 0px;
 font-size: 25px;
}

.left {margin:0px 0px 0px 700px}
.right{margin:0px 0px 0px 400px}
p.left {color:blue;background-color: tomato;}
p.right {color:red;background-color: powderblue;}
p.left.bold {font-weight: 900;}
p.left.italic {font-style: italic;}
p.right.underlined {text-decoration:underline;}

